{% load static %}
<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>San Diego,CA,USA</p>
                        <p><i class="fa fa-envelope"></i>shammu.artifacts@gmail.com</p>
                    </div>
                </div>
            </div>
                 
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/shammu.artifacts"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/shammuartifacts/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/@shammuartifacts4048/"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="{% url 'about:about-us' %}">About Us</a></li>
                        <li><a href="{% url 'about:terms-and-conditions' %}">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="{% url 'about:payment-policy' %}">Payment Policy</a></li>
                        <li><a href="{% url 'about:shipping-policy' %}">Shipping Policy</a></li>
                        <li><a href="{% url 'about:return-policy' %}">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->       
        