{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container-fluid pt-5">
	<div class="row">
	<aside class="col-md-3">
    <nav class="navbar sidebar">
        <ul class="navbar-nav category">
            {% for cat in categories %}
            <li class="nav-item category-item">
                <a class="nav-link" href="{% url 'core:products-list-category' cat.id %}">{{cat.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>	
                
    <form method="GET" action="/products/">          
        <div class="card">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="">Colors</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_2" style="">
                    <div class="card-body">    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="color" value="red" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Red 
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{color.red}}</b>
                        </div>    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="color" value="black" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Black  
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{color.black}}</b>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="color" value="blue" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Blue  
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{color.blue}}</b>
                        </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Price (Dollars) </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="price-filter" value="100" id="flexCheckDefault"
                            {% if "100" in price_list %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                            0 To 100 
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{price.100}}</b>
                        </div>    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"name="price-filter" value="250" id="flexCheckDefault"
                            {% if "250" in price_list %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                            100 To 250  
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{price.250}}</b>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="price-filter" value="500" id="flexCheckDefault"
                            {% if "500" in price_list %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault">
                            250 To 500  
                            </label>
                            <b class="badge badge-pill badge-light float-right">{{price.500}}</b>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-block btn-primary" style="background-color:#905136; border-color:#905136;">Apply</button>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->    
        </div> <!-- card.// -->

        </aside>
        <main class="col-md-9">
    
        <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{count}} Items found </span>
                <select name="sort_by" id="sort-list"   class="mr-2 form-control" onChange="form.submit();">
                    <option value="" id="placeholder" disabled selected hidden>Sort</option>
                    <option id="-date_created" value="-date_created" {% if sort_by == '-date_created' %}selected{% endif %}>Latest Items</option>
                    <option id="price" value="price" {% if sort_by == 'price' %}selected{% endif %}>Price: Low To High</option>
                    <option id="-price" value="-price" {% if sort_by == '-price' %}selected{% endif %}>Price: High To Low</option>
                    <option id="title" value="title" {% if sort_by == 'title' %}selected{% endif %}>Product Name</option>
                </select>
            </div>       
        </header><!-- sect-heading -->
        

        <div class="row">
            <!-- Featured Product Start -->
            <div class="row align-items-center product-slider product-slider-4">
                {% for prod in products %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="{% url 'core:product-detail' prod.id %}">{{ prod.title }}</a>
                            <div class="rating">
                                {% if prod.avg_rating >= 1 %} <i class="fas fa-star"></i>{% else %}<i class="far fa-star"></i>{% endif %}
                                {% if prod.avg_rating >= 2 %} <i class="fas fa-star"></i>{% elif prod.avg_rating > 1 %}<i class="fas fa-star-half-alt"></i>{% else %}<i class="far fa-star"></i>{% endif %}
                                {% if prod.avg_rating >= 3 %} <i class="fas fa-star"></i>{% elif prod.avg_rating > 2 %}<i class="fas fa-star-half-alt"></i>{% else %}<i class="far fa-star"></i>{% endif %}
                                {% if prod.avg_rating >= 4 %} <i class="fas fa-star"></i>{% elif prod.avg_rating > 3 %}<i class="fas fa-star-half-alt"></i>{% else %}<i class="far fa-star"></i>{% endif %}
                                {% if prod.avg_rating >= 5 %} <i class="fas fa-star"></i>{% elif prod.avg_rating > 4 %}<i class="fas fa-star-half-alt"></i>{% else %}<i class="far fa-star"></i>{% endif %}
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img class="product-card-img" src="{{ prod.image.url }}" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="{% url 'cart:cart_add' prod.id %}"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="{% url 'core:product-detail' prod.id %}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>{{prod.price}}</h3>
                            <a class="btn" href="{% url 'cart:cart_add' prod.id %}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>    
            <!-- Featured Product End -->
            {% if is_paginated %}
            <div class="col-12 pb-1">
                <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" tabindex="-1" href="/products/?page={{ page_obj.previous_page_number}}&order_by={{ sort_by }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if i == page_obj.number %}
                    <li class="page-item active"><a class="page-link" {% if sort_by %}href="/products/?page={{i}}&sort_by={{ sort_by }}"{% else %}href="/products/?page={{i}}"{% endif %} span class="visually-hidden">{{i}}</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" {% if sort_by %}href="/products/?page={{i}}&sort_by={{ sort_by }}"{% else %}href="/products/?page={{i}}"{% endif %}>{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" tabindex="-1" {% if sort_by %}href="/products/?page={{i}}&sort_by={{ sort_by }}"{% else %}href="/products/?page={{i}}"{% endif %} aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                    {% endif %}
                </ul>
                </nav>
            </div> 
            {% endif %}
        </div> <!-- row end.// -->
    </form>
</div>


{% endblock %}
