{% extends 'partials/base.html' %} 
{% load static %} 
{% block scripts %}
    <script src="{% static 'js/cart.js' %}" type="text/javascript"></script>
    
{% endblock %}
{% block title %}Checkout{% endblock %} 

{% block content %}
    <main class="main" id="cart-list">
    <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="checkout-inner">
                                <div class="billing-address">
                                    <h2>Billing Address</h2>
                                    <div class="row">
                                        {% if default_billing_address %}
                                        <div class="col-md-12">
                                            <div class="form-check pull-right">
                                                <input class="form-check-input" type="checkbox" name="use_default_billing" id="use_default_billing">
                                                <label class="form-check-label" for="use_default_billing">Use default Billing address: {{ default_billing_address.address|truncatechars:10 }}</label>
                                            </div>
                                        </div>    
                                        {% endif %}
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" id="billing_first_name" name="billing_first_name" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" id="billing_last_name" name="billing_last_name" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>E-mail</label>
                                            <input class="form-control" type="text" id="billing_email" name="billing_email" placeholder="E-mail">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mobile No</label>
                                            <input class="form-control" type="tel" id="billing_mobile" name="billing_mobile" placeholder="Mobile No">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <input class="form-control" type="text" id="billing_address" name="billing_address" placeholder="Address">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Country</label>
                                            {{form.billing_country}}
                                        </div>
                                        <div class="col-md-6">
                                            <label>City</label>
                                            <input class="form-control" type="text" id="billing_city" name="billing_city" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <label>State</label>
                                            <input class="form-control" type="text" id="billing_state" name="billing_state" placeholder="State">
                                        </div>
                                        <div class="col-md-6">
                                            <label>ZIP Code</label>
                                            <input class="form-control" type="text" id="billing_zip" name="billing_zip" placeholder="ZIP Code">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  id="set_default_billing" name="set_default_billing">
                                                <label class="form-check-label" for="set_default_billing">Set As Default Billing Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  id="shipto">
                                                <label class="form-check-label" for="shipto">Ship to different address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="shipping-address">
                                    <h2>Shipping Address</h2>
                                    <div class="row">
                                        {% if default_shipping_address %}
                                        <div class="col-md-12">
                                            <div class="form-check pull-right">
                                                <input class="form-check-input" type="checkbox" name="use_default_shipping" id="use_default_shipping">
                                                <label class="form-check-label" for="use_default_shipping">Use default Billing address: {{ default_shipping_address.address|truncatechars:10 }}</label>
                                            </div>
                                        </div>    
                                        {% endif %}
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" id="shipping_first_name" name="shipping_first_name" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" id="shipping_last_name" name="shipping_last_name" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>E-mail</label>
                                            <input class="form-control" type="text" id="shipping_email" name="shipping_email" placeholder="E-mail">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mobile No</label>
                                            <input class="form-control" type="tel" id="shipping_mobile" name="shipping_mobile" placeholder="Mobile No">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <input class="form-control" type="text" id="shipping_address" name="shipping_address" placeholder="Address">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Country</label>
                                            {{form.shipping_country}}
                                        </div>
                                        <div class="col-md-6">
                                            <label>City</label>
                                            <input class="form-control" type="text" id="shipping_city" name="shipping_city" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <label>State</label>
                                            <input class="form-control" type="text" id="shipping_state" name="shipping_state" placeholder="State">
                                        </div>
                                        <div class="col-md-6">
                                            <label>ZIP Code</label>
                                            <input class="form-control" type="text" id="shipping_zip" name="shipping_zip" placeholder="ZIP Code">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  id="set_default_shipping" name="set_default_shipping">
                                                <label class="form-check-label" for="set_default_shipping">Set As Default Shipping Address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                          
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout-inner">
                                <div class="checkout-summary">
                                    <h1>Cart Total</h1>
                                    {% for item in cart %}
                                    <p>{{item.product.title}}<span>${{item.total_price}}</span></p>
                                    {% endfor %}
                                    <p class="sub-total">Sub Total<span>${{total_cart_price}}</span></p>
                                    <p class="ship-cost">Shipping Cost<span>Free</span></p>
                                    <h2>Grand Total<span>${{total_cart_price}}</span></h2>
                                </div>

                                <div class="checkout-payment">
                                    <div id="paypal-button-container"></div>
                                    
                                    <!-- <div class="checkout-btn" type="submit">
                                        <button>Place Order</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Checkout End -->
    </main>

    <script src="https://www.paypal.com/sdk/js?client-id=AaPaNuCeyn-CacXZ6Nb24lGzm5pyg38-UtfDZuqi4TT6vzhQWMRAxeCUxRZ9rrdsyt8HjGUrV9Z4PnmK&currency=USD&disable-funding=credit"></script>
    <script>
		var total = '0.1'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>
{% endblock %}
