{% extends 'partials/base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/cart.js' %}" type="text/javascript"></script>
{% endblock %}
{% block title %}Home Page{% endblock %}
   
{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">My Account</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="dashboard-nav" href="{% url 'users:myaccount' %}" role="tab"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" onClick="javascript:history.go(-1);" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link active" id="order-details-nav" data-toggle="pill" href="#order-details-tab" role="tab"><i class="fa fa-shopping-bag"></i>Order Details</a>
                    </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="order-details-tab" role="tabpanel" aria-labelledby="order-details-nav">
                        <h5>Order Details</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price Per Item</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for orderline in order_details %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{orderline.product.title}}</td>
                                        <td>{{orderline.quantity}}</td>
                                        <td>${{orderline.product.price}}</td>
                                        <td>${{orderline.get_total}}</td>        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="order-total-price">  
                                <h6 align="right">Total Price: ${{order.price}} </h6>
                            </div>    
                            <button onClick="javascript:history.go(-1);" class="btn view-order">Back To Orders</button>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

{% endblock %}
